body{
  background-color: #fcf4de;
}
.answerContainer{
  float: left;
  width: 190px;
  height:40px;
  background-color: #c9f29f;
  margin: 10px;
  color: #374727;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: #374727;
}
.answerContainerClick{
  background-color: #374727;
  color: #c9f29f;
  border-color: #c9f29f;

}
#confirm{
  width: 150px;
  height:50px;
  background-color: #f2de5c;
  margin: auto;
  margin-top: 20px;
  color: #3f3b20;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
}
#choiceContainer{
  margin: auto;
  margin-top: 10px;
  position:relative;
  z-index: 1;
  width: 440px;
  height: 140px;
  background-color: #87b589;
  border-radius: 25px;
}
#question{
  margin: auto;
  width: 430px;
  height:90px;
  background-color: #ffe18e; 
  border-radius: 25px;
  color: #5e4a25;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  border-width: 5px;
  border-style: solid;
  border-color: #5e4a25;
}
#myCanvas{
  padding: 0;
  margin: auto;
  display: block;
  position:relative;
  background-color: #a0e89b;
  z-index: -1;
}
#timer{
  margin: auto;
  margin-top:-500px;
  width: 150px;
  height: 50px;
  color: antiquewhite;
  background-color: #f23832;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  z-index: 2;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #fcf4de;
}
#triviaContainer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 500px;
}
#endScene{
  display: none;
  margin: auto;
  background-color: #2e4261;
  height: 600px;
  width: 600px;
}
#resultSlotR{
  position: relative;
  top: 150px;
  color: #ccdde7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}
#resultSlotW{
  position: relative;
  top: 150px;
  color: #ccdde7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}
p{
  position: relative;
  top: 150px;
  color: #ccdde7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
}
#victoryScene{
  display: none;
  margin: auto;
  background-color: #414629;
  height: 600px;
  width: 600px;
}

#vicText{
  position: relative;
  top: 150px;
  color: #d1eeb4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}
#defeatScene{
  display: none;
  margin: auto;
  background-color: #414629;
  height: 600px;
  width: 600px;
}
#defText{
  position: relative;
  top: 150px;
  color: #d1eeb4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}
#answerSlot{
  position: relative;
  top: 200px;
  margin: auto;
  width: 190px;
  height:40px;
  background-color: #c9f29f;
  color: #374727;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: #9a9c0c;
}